*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

body{
   background-color: ghostwhite;
	text-shadow: 1.5px 1.5px 5px #494b50;
  
	
} 
img{
	position: absolute;
	height: 300px;
	width: 500px;
	top: 30%;
	left: 35%;
	opacity: .2;
	
}

h1{
	color: black;
	top: 0;
	letter-spacing: 6px;
	left: 35%;
	position: absolute;
	text-align: center;
	text-shadow: 1.5px 1.5px 5px #494b50 ;
	text-align: center;
	
}

p1{
	color: red;
	position: absolute;
	top: 70px;
	left: 23%;
	padding-top: 10px;
	font-size: 20px;
	
}
p2{
	color: red;
	position: absolute;
	top: 170px;
	left: 23%;
	padding-top: 10px;
	
	font-size: 20px;	
}
ul.st{
	
    position: absolute;
	top: 130px;
	left: 10%;
    list-style: none;
    
	
}

ul.ms{
	
    position: absolute;
	top: 200px;
	left: 10%;
    list-style: none;
	padding-top: 30px;
    
	
}

ul li{
    display: inline-block;
	
	margin-left: 150px
}

ul li a{
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.2s ease; 
}

ul li a:hover{
    background-color: black;
    color: white;
}


